#dm-user-search {
  position: absolute;
  z-index: 2;
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  -webkit-animation: fadein 0.3s;

  .close-channel-search-menu {
    position: absolute;
    right: 80px;
    top: 80px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    flex-direction: column;

    .fa-times {
      width: 30px;
      height: 30px;
      color: #969799;
    }

    p {
      color: #969799;
    }

    &:hover {
      cursor: pointer;
      background-color: #e8e8e8;

      .fa-times {
        color: #2c2d30;
      }

      p {
        color: #2c2d30;
      }
    }
  }

  .user-search-section {
    display: flex;
    justify-content: center;
    padding: 180px 30px 0px 30px;

    .user-search-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 650px;

      .user-search-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 34px;
        font-family: "Noto Sans", sans-serif;
        font-weight: 600;
        color: #2c2d30;
        margin-bottom: 3rem;
      }

      .user-search-bar {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        min-height: 39px;
        height: 39px;
        width: 96.5%;
        border: 1px solid #a0a0a2;
        border-radius: 5px;
        transition: 0.2s;

        &:focus-within {
          border: 1px solid #717274;
        }

        .fa-search {
          color: #a0a0a2;
        }

        input[type="text"] {
          padding-left: 10px;
          outline: none;
          width: 100%;
          font-size: 18px;
        }
      }

      .user-list {
        margin-top: 25px;
        width: 100%;
        overflow-y: scroll;

        ul {
        }

        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 15px;
          text-decoration: none;
          height: 70px;
          border: 1px solid transparent;
          border-top: 1px solid #ededed;

          &:hover {
            background-color: #eaf5fc;
            border-radius: 6px;
            border: 1px solid #cbe7f7;
            cursor: pointer;
          }

          .search-user-item-container {
            p {
              font-size: 16px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
