#channel-search {
  position: absolute;
  z-index: 2;
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  -webkit-animation: fadein 0.3s;

  .close-channel-search-menu {
    position: absolute;
    right: 80px;
    top: 80px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    flex-direction: column;

    .fa-times {
      width: 30px;
      height: 30px;
      color: #969799;
    }

    p {
      color: #969799;
    }

    &:hover {
      cursor: pointer;
      background-color: #e8e8e8;

      .fa-times {
        color: #2c2d30;
      }

      p {
        color: #2c2d30;
      }
    }
  }

  .channel-search-section {
    display: flex;
    justify-content: center;
    padding: 180px 30px 30px 30px;


    .channel-search-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 650px;

      .search-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 34px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 600;
        color: #2c2d30;
        margin-bottom: 3rem;

        .channel-search-create-channel-button {
          font-size: 15px;
          font-weight: 400;
          color: white;
          background-color: #2fa663;
          padding: 10px;
          border-radius: 4px;
        }
      }

      .channel-search-bar {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        height: 39px;
        width: 96.5%;
        border: 1px solid #a0a0a2;
        border-radius: 5px;

        .fa-search {
          color: #a0a0a2;
        }

        input[type="text"] {
          padding-left: 10px;
          outline: none;
          width: 100%;
          font-size: 18px;
        }
      }

      .channel-search-list, .channel-search-belonged-list{
        margin-top: 50px;
        width: 100%;

        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 15px;
          text-decoration: none;
          height: 70px;
          border: 1px solid transparent;
          border-top: 1px solid #ededed;

          &:hover {
            & + li {
              border: 1px solid transparent;
            }

            background-color: #eaf5fc;
            border-radius: 6px;
            border: 1px solid #cbe7f7;
            cursor: pointer;
          }

          .search-channel-item-left {
            display: flex;
            width: 100%;

            .hashtag {
              color: #717274;
            }

            .search-channel-item-contents {
              margin-left: 5px;
              color: #2c2d30;
              width: 100%;

              .search-channel-item-name {
                display: flex;
                justify-content: space-between;
                font-weight: bold;

                .search-channel-item-right {
                  display: flex;
                  align-items: center;

                  .fa-user {
                    color: #717274;
                  }

                  .search-channel-item-member-ct {
                    margin-left: 5px;
                    margin-top: 3px;
                    color: #717274;
                  }
                }
              }

              .search-channel-item-purpose {
                font-size: 14px;
                margin-top: 1px;
              }

              .search-channel-item-created {
                font-size: 12px;
                margin-top: 5px;
                color: #717274;
              }
            }
          }

        }
      }
    }
  }
}
