#messages-container::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

#messages-container::-webkit-scrollbar-thumb {
  background-color: #d9d9de;
  border-radius: 4px;
}

#channel-messages {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;

  .channel-messages-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    height: 65px;
    border-bottom: 1.5px solid #e8e8e8;
    user-select: none;

    .channel-messages-header-left {
      min-width: 275px;
      margin-left: 15px;

      .channel-messages-title {
        font-size: 22px;
        font-weight: 600;
        font-family: "Noto Sans", sans-serif;
        color: #2c2d30;
        margin-bottom: 5px;
      }

      .channel-details {
        display: flex;
        color: #717274;

        .divider {
          user-select: none;
        }

        .channel-detail-member-ct {
          margin-right: 5px;
          user-select: none;

          .fa-user {
            margin-right: 5px;
          }

          &:hover {
            color: #0576b9;
            cursor: pointer;
          }
        }

        .channel-detail-purpose {
          margin-left: 5px;
        }
      }
    }

    .channel-messages-header-right {
      display: flex;
      color: #a0a0a2;
      margin-right: 15px;

      .activeButton {
        color: #0576b9;
      }

      .fa-info-circle {
        width: 20px;
        height: 20px;
        margin-right: 10px;

        &:hover {
          color: #0576b9;
          cursor: pointer;
        }
      }

      .fa-cog {
        width: 20px;
        height: 20px;

        &:hover {
          color: #0576b9;
          cursor: pointer;
        }
      }
    }
  }

  .channel-messages-settings-menu {
    width: 200px;
    height: 43px;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    position: absolute;
    right: 15px;
    top: 54px;
    background-color: white;
    z-index: 2;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    -webkit-animation: fadein 0.2s;

    .settings-leave-channel {
      padding: 10px;
      display: flex;

      p {
        width: 100%;
        padding: 4px 10px;
        color: #2c2d30;

        &:hover {
          cursor: pointer;
          background-color: #2d9ee0;
          color: white;
          border-radius: 6px;
          font-weight: 200;
        }
      }
    }
  }

  #channel-messages-join-channel-container {
    position: fixed;
    width: calc(100% - 340px);
    bottom: 0;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e8e8e8;

    .join-channel-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h3 {
        font-size: 18px;
        margin-bottom: 5px;
      }

      p {
        color: #717274;
        font-size: 15px;
        margin-bottom: 20px;
      }

      .channel-messages-join-channel-button {
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        background-color: #2ea664;
        color: white;
        padding: 10px 13px;
        border-radius: 5px;
        font-weight: 600;

        &:hover {
          cursor: pointer;
          box-shadow: inset 0 -2px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }

  .messages {
    display: flex;
    justify-content: space-between;
    height: calc(100% - 127px);

    .messages-root-container {
      // width: calc(100% - 500px);
      width: 100%;
      min-width: 375px;
    }

    #channel-detail {
      height: 105%;
    }

    #messages-container {
      width: 99.5%;
      height: 99%;
      display: flex;
      flex-direction: column-reverse;
      overflow-y: scroll;
      // padding: 0 20px;

      ul {
        text-decoration: none;

        li:first-child {
          // margin-top: 20px;
        }

        li {
          display: flex;
          // margin-bottom: 20px;
          padding: 10px 0;

          &:hover {
            background-color: #f9f9f9;
          }

          .user-profile-pic {
            display: flex;
            align-items: center;
            margin-left: 20px;

            // temp until paperclip
            background-image: image_url("logos/gobble-logo-left.png");
            // background-image: image_url("chicken_images/goofy-chicken.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 50px;
            min-width: 50px;
            height: 50px;
            min-height: 50px;
          }

          .message-content {
            width: 100%;
            word-break: break-word;
            margin-left: 10px;
            margin-right: 20px;

            .message-author-timestamp {
              display: flex;
              align-items: center;
              min-width: 350px;
              cursor: default;

              .message-author-name {
              }

              .message-timestamp {
                margin-left: 8px;
                color: #717274;
                font-size: 14px;
              }
            }

            .message-body {
              margin-top: 6px;
              color: #2c2d30;
              line-height: 1.4;
              word-wrap: break-word;
              display: inline-block;
            }

            .formatted-message-body {
              width: 100%;
              margin-top: 6px;
              color: #2c2d30;
              line-height: 1.4;
              word-wrap: break-word;
              display: flex;
              flex-wrap: wrap;
              align-items: center;

              & > div,
              p {
                margin-right: 5px;
              }

              .bold-message {
                font-weight: 800;
              }

              .strikethrough-message {
                text-decoration: line-through;
              }

              .blockquote-message {
                display: flex;
                flex-wrap: wrap;
                padding-left: 5px;
                border-left: 5px solid #e3e4e6;

                & > div,
                p {
                  margin-right: 5px;
                }
              }

              .multiline-block-message {
                width: 97%;
                background-color: #f9f9f9;
                border: 1px solid #d4d4d4;
                padding: 10px;
                border-radius: 4px;
                margin: 5px 0;
              }

              .singleline-block-message {
                width: fit-content;
                background-color: #f9f9f9;
                border: 1px solid #d4d4d4;
                padding: 0 5px;
                border-radius: 3px;
                color: #d72b3f;
              }
            }
          }
        }
      }
    }
  }

  .message-input {
    height: 71px;

    .message-input-container {
      width: 100%;
      display: flex;
      justify-content: center;

      form {
        width: 100%;
        display: flex;
        justify-content: center;

        input {
          border: 2px solid rgba(160, 160, 162, 0.7);
          margin: 0 26px;
          height: 40px;
          border-radius: 6px;
          width: 97%;
          padding: 0 10px;
          outline: none;
          font-size: 13px;

          &:focus {
            border: 2px solid rgba(113, 114, 116, 1);
          }
        }
      }
    }

    .message-formatting-description {
      font-size: 12px;
      margin-top: 6px;
      padding: 0 27px;
      display: flex;
      justify-content: flex-end;

      & > div {
        margin-right: 5px;
      }
    }
  }
}

#channel-messages-blank-channel {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  .blank-channel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    .blank-channel-chicken-image {
      background-image: image_url("chicken_images/shocked-chicken.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 250px;
      height: 250px;
    }

    h2 {
      color: #2c2d30;
      font-size: 25px;
      font-weight: 600;
      margin-top: 10px;
      text-align: center;
    }
  }
}

.hidden {
  display: none;
}

#new-message-banner-container {
  position: relative;

  #new-message-banner {
    height: 25px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d9ee0;
    color: white;

    &:hover {
      cursor: pointer;
      background-color: #278fcc;

      p {
        font-size: 15px;
      }
    }
  }
}
