#direct-messages-container {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;

  #direct-messages-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    height: 65px;
    border-bottom: 1.5px solid #e8e8e8;
    user-select: none;

    .direct-messages-header-left {
      min-width: 275px;
      // margin-left: 15px;
      margin: 0 15px;

      .direct-message-recipients {
        // margin-bottom: 8px;
        height: 28px;
        font-size: 22px;
        font-weight: 600;
        font-family: "Noto Sans", sans-serif;
        color: #2c2d30;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .direct-message-recipient-status {
        display: flex;
        align-items: center;

        .active-circle {
          margin-right: 8px;
          height: 10px;
          width: 10px;
          border-radius: 50%;
          background-color: #93cc93;
        }

        p {
          font-size: 12px;
          color: #717274;
          letter-spacing: 0.3px;
        }
      }
    }

    .direct-messages-header-right {
      display: flex;
      color: #a0a0a2;
      margin-right: 15px;

      .activeButton {
        color: #0576b9;
      }

      .fa-info-circle {
        width: 20px;
        height: 20px;

        &:hover {
          color: #0576b9;
          cursor: pointer;
        }
      }

      .fa-cog {
        width: 20px;
        height: 20px;

        &:hover {
          color: #0576b9;
          cursor: pointer;
        }
      }
    }
  }

  #direct-messages {
    display: flex;
    justify-content: space-between;
    height: calc(100% - 127px);

    .direct-messages-root-container {
      width: 100%;
      min-width: 375px;
    }

    #direct-messages-section {
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
      overflow-y: scroll;
      // padding: 0 20px;

      ul {
        text-decoration: none;

        li:first-child {
          // margin-top: 20px;
        }

        li {
          display: flex;
          // margin-bottom: 20px;
          padding: 10px 0;

          &:hover {
            background-color: #f9f9f9;
          }

          .user-profile-pic {
            display: flex;
            align-items: center;
            margin-left: 20px;

            // temp until paperclip
            background-image: image_url("logos/gobble-logo-left.png");
            // background-image: image_url("chicken_images/goofy-chicken.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 50px;
            min-width: 50px;
            height: 50px;
            min-height: 50px;
          }

          .message-content {
            width: 100%;
            word-break: break-word;
            margin-left: 10px;
            margin-right: 20px;

            .message-author-timestamp {
              display: flex;
              align-items: center;
              min-width: 350px;
              cursor: default;

              .message-timestamp {
                margin-left: 8px;
                color: #717274;
                font-size: 14px;
              }
            }

            .message-body {
              margin-top: 6px;
              color: #2c2d30;
              line-height: 1.4;
              word-wrap: break-word;
              display: inline-block;
            }
          }
        }
      }
    }
  }

  .message-input {
    height: 60px;

    .message-input-container {
      width: 100%;
      display: flex;
      justify-content: center;

      form {
        width: 100%;
        display: flex;
        justify-content: center;

        input {
          border: 2px solid rgba(160, 160, 162, 0.7);
          margin: 0 26px;
          height: 40px;
          border-radius: 6px;
          width: 97%;
          padding: 0 10px;
          outline: none;
          font-size: 13px;

          &:focus {
            border: 2px solid rgba(113, 114, 116, 1);
          }
        }
      }
    }
  }
}
