.channel-members-content::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

.channel-members-content::-webkit-scrollbar-thumb {
  background-color: #dadada;
  border-radius: 4px;
}

#channel-detail {
  width: 500px;
  min-width: 300px;
  user-select: none;
  height: 105%;

  .channel-detail-container {
    border-left: 1px solid #e8e8e8;
    height: 100%;

    .channel-detail-about-banner {
      background-color: #f9f9f9;
      height: 50px;
      display: flex;
      align-items: center;
      padding-left: 15px;
      font-size: 18px;
      font-weight: 800;
      border-bottom: 1px solid #e8e8e8;

      h2 {
        letter-spacing: 0.5px;
        color: #2c2d30;
      }
    }

    .channel-details-content-container {
      padding: 20px 15px;
      border-bottom: 1px solid #e8e8e8;

      .channel-details-content-header {
        margin-bottom: 18px;
        display: flex;
        justify-content: space-between;

        &:hover {
          cursor: pointer;
        }

        .channel-details-content-header-left {
          display: flex;
          align-items: center;

          .fa-info-circle {
            color: #a0a0a2;
            margin-right: 10px;
            width: 20px;
            height: 20px;
          }

          p {
            font-size: 21px;
            color: #2c2d30;
          }
        }

        .channel-details-content-header-right {
        }
      }

      .channel-details-content {
        -webkit-animation: slideLeft 0.5s;

        h3 {
          font-weight: 700;
          color: #717274;
          font-size: 13px;
          margin-bottom: 5px;
        }

        p:nth-child(2) {
          margin-bottom: 20px;
        }
      }
    }
    .collapsed {
      .channel-details-content-header {
        margin: 0;
      }

      .channel-details-content {
        display: none;
      }
    }
  }

  .channel-members-content-container {
    height: calc(100% - 255px);
    padding: 20px 15px;

    .channel-members-content-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 18px;

      &:hover {
        cursor: pointer;
      }

      .channel-members-content-header-left {
        display: flex;

        .fa-user {
          color: #2ea664;
          margin-right: 10px;
          width: 20px;
          height: 20px;
        }

        p {
          font-size: 21px;
          color: #2c2d30;
        }
      }

      .channel-members-content-header-right {
      }
    }

    .channel-members-content {
      height: calc(100% - 15px);
      overflow-y: scroll;
      -webkit-animation: slideLeft 0.5s;

      ul {
        li {
          display: flex;
          align-items: center;
          margin-bottom: 12px;

          .circle-online {
            margin-right: 8px;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: #93cc93;
            box-sizing: border-box;
          }

          .circle-offline {
            margin-right: 8px;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            border: 1px solid #bfb8be;
            box-sizing: border-box;
          }

          .channel-member-picture {
            // background-image: image_url("chicken_images/goofy-chicken.png");
            background-image: image_url("logos/gobble-logo-left.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
            margin-right: 10px;
          }

          .channel-member-username {
            font-weight: 600;
            font-size: 16px;
            color: #2c2d30;
            display: flex;

            .channel-member-currentUser {
              margin-left: 5px;
              font-size: 14px;
              color: #a0a0a2;
            }
          }
        }
      }
    }
  }
  .collapsed {
    .channel-members-content-header {
      margin: 0;
    }

    .channel-members-content {
      display: none;
    }
  }
}

.channel-detail-triangle {
  width: 5px;
  height: 5px;
  margin-right: 8px;
}

.triangle-down {
  border-right: 3px solid #2c2d30;
  border-bottom: 3px solid #2c2d30;
  transform: rotate(45deg);
}

.triangle-right {
  border-bottom: 3px solid #2c2d30;
  border-left: 3px solid #2c2d30;
  transform: rotate(45deg);
  margin-right: 6.1px;
}
