.home-navbar-container {
  border-bottom: 1px solid #ebebeb;
  height: 69px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;

  .home-navbar-left {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;

    .home-navbar-logo {
      background-image: image_url('logos/gobble-logo-left.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 40px;
      height: 50px;
    }

    .gobble {
      font-size: 25px;
      font-weight: bold;
      color: #323748;
      -webkit-font-smoothing: subpixel-antialiased;
      user-select: none;
      margin: 0 0 5px 13px;
    }
  }

  .home-navbar-right {
    height: 100%;

    .home-navbar-links {
      display: flex;
      height: 100%;
      align-items: center;

      .cal-logo {
        background-image: image_url('logos/CAL_Logo_url_home_navbar.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 66px;
        height: 41px;

        &:hover {
          background-image: image_url('logos/CAL_Logo_url_purple.png');
          cursor: pointer;
        }
      }

      .fa-github {
        width: 40px;
        height: 40px;
        color: #6d6f7b;
        margin: 0 0 1px 30px;

        &:hover {
          color: #57c49f;
          cursor: pointer;
        }
      }

      .fa-linkedin-in {
        width: 40px;
        height: 40px;
        color: #6d6f7b;
        margin: 0 0 1px 30px;

        &:hover {
          color: #ec5b1b;
          cursor: pointer;
        }
      }
    }
  }
}
