.landing-page-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .landing-page-contents {
    display: flex;
    justify-content: space-evenly;

    .landing-page-image {
      background-image: image_url('landing_page/landing_page_image.png');
      width: 700px;
      height: 700px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .landing-page-intro {
      height: 700px;
      width: 25%;

      h1 {
        font-family: "Georgia";
        font-size: 80px;
        font-weight: bold;
        color: #323748;
        margin-bottom: 20px;
      }

      .intro-text {
        color: #5b5e6d;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 2px;
        margin-bottom: 30px;
        line-height: 30px;
      }

      .landing-page-signup-login {
        .landing-page-signup {
          background-color: #3f46ae;
          color: white;
          text-decoration: none;
          padding: 19px 40px 20px;
          outline: none;
          border-radius: 5px;
          font-size: 13px;
          letter-spacing: 0.5px;
          transition: 0.1s;

          &:hover {
            background-color: #1c299d;
            cursor: pointer;
          }
        }

        .already-gobblin {
          margin-top: 20px;
          color: #5b5e6d;
          font-size: 14px;
          letter-spacing: 0.5px;

          .landing-page-login {
            color: #3f46ae;

            &:hover {
              color: #1c299d;
            }
          }
        }
      }
    }
  }
}
