.create-channel-menu {
  position: absolute;
  z-index: 2;
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  .close-create-channel-menu {
    position: absolute;
    right: 80px;
    top: 80px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    flex-direction: column;

    .fa-times {
      width: 30px;
      height: 30px;
      color: #969799;
    }

    p {
      color: #969799;
    }

    &:hover {
      cursor: pointer;
      background-color: #e8e8e8;

      .fa-times {
        color: #2c2d30;
      }

      p {
        color: #2c2d30;
      }
    }
  }

  .create-channel-menu-container {
    display: flex;
    justify-content: center;
    padding: 180px 30px 30px 30px;

    .create-channel-menu-contents {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 34px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 600;
        color: #2c2d30;
        margin-bottom: 1rem;
      }

      p {
        font-size: 0.9rem;
        line-height: 1.25rem;
        margin: 0.5rem 0 1rem 0;
        color: #717274;
      }

      .create-channel-form {
        font-family: 'Noto Sans', sans-serif;

        label {
          p {
            color: #2c2d30;
            font-weight: bold;
            font-size: 16px;
          }
        }
      }
    }
  }
}
