.create-channel-menu {
  position: absolute;
  z-index: 2;
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  -webkit-animation: fadein 0.3s;

  .close-create-channel-menu {
    position: absolute;
    right: 80px;
    top: 80px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    flex-direction: column;

    .fa-times {
      width: 30px;
      height: 30px;
      color: #969799;
    }

    p {
      color: #969799;
    }

    &:hover {
      cursor: pointer;
      background-color: #e8e8e8;

      .fa-times {
        color: #2c2d30;
      }

      p {
        color: #2c2d30;
      }
    }
  }

  .create-channel-menu-container {
    display: flex;
    justify-content: center;
    padding: 180px 30px 30px 30px;

    .create-channel-menu-contents {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 34px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 600;
        color: #2c2d30;
        margin-bottom: 1rem;
      }

      .create-channel-description {
        font-size: 0.9rem;
        line-height: 1.25rem;
        margin: 0.5rem 0 1rem 0;
        color: #717274;
      }

      .create-channel-form {
        font-family: 'Noto Sans', sans-serif;

        .channel-form-input {
          margin-bottom: 33px;

          p {
            color: #2c2d30;
            font-weight: bold;
            font-size: 16px;
            margin: 10px 0;
          }

          span {
            font-size: 12px;
            line-height: 1.25rem;
            margin: 0.5rem 0 1rem 0;
            color: #717274;
            font-family: 'Lato', sans-serif;
          }

          .purpose-container {
            display: flex;

            p {
              margin-right: 5px;
            }

            #italic {
              font-weight: lighter;
              font-style: italic;
              color: #717274;
            }
          }
        }

        input {
          width: 95%;
          height: 35px;
          font-size: 16px;
          color: #2c2d30;
          outline: none;
          border-radius: 5px;
        }

        .create-channel-form-name-input {
          border: none;
          padding: 2px 0px 2px 10px;
        }

       .create-channel-submit-button-container {
         margin-top: 28px;
         display: flex;
         justify-content: flex-end;

         input[type="submit"] {
          cursor: pointer;
          width: 20%;
          background-color: #cdcece;
          border: none;
          color: white;
          padding: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 180px;
          height: 50px;
          font-size: 20px;
         }

         #green-submit {
           background-color: #2fa663;

           &:hover {
             box-shadow: inset 0 -2px rgba(0,0,0,.25);
           }
         }
       }

       .channel-input-container {
          border: 1px solid #a0a0a2;
          border-radius: 3px;
          width: 100%;
          height: 39px;
          display: flex;
          align-items: center;

          .hashtag {
            margin-left: 10px;
            font-size: 20px;
            color: #717274;
            font-weight: 100;
          }

          .create-channel-form-name-input {
            width: 93%;
          }

          .create-channel-form-purpose-input {
            margin-left: 1px;
            padding-left: 10px;
            width: 96.5%;
          }

       }
       .channel-input-errors {
         border: 1px solid red;
       }
      }
    }
  }
}
