#channel-side-bar {
  height: 100%;
  min-width: 340px;
  width: 340px;
  background-color: #4d394b;
  user-select: none;

  .gobble-menu {
    background-color: white;
    position: absolute;
    top: 62px;
    left: 15px;
    width: 288px;
    min-width: 288px;
    z-index: 1;
    padding: 15px 10px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-animation: fadein 0.2s;

    div {
      margin-bottom: 5px;
    }

    .gobble-menu-username {
      display: flex;
      align-items: center;
      padding: 0 10px;

      .gobble-menu-username-text {
        font-size: 20px;
        font-weight: bold;
      }
    }

    .logout-button {
      padding: 3px 10px;
      margin-bottom: 0;

      &:hover {
        background-color: #2e9ee0;
        border-radius: 6px;
        color: white;
        cursor: pointer;
        font-weight: 300;
      }
    }
  }

  .side-bar-contents {
    height: 100%;
  }

  .active-sidebar {
    background-color: #3e313c;
  }

  .user-info-container {
    color: white;
    padding: 12px;
    user-select: none;
    margin-bottom: 11px;

    &:hover {
      cursor: pointer;
      background-color: #3e313c;

      .username {
        color: white;
        font-weight: 300;
        letter-spacing: 0.2px;
      }
    }

    .channel-name {
      font-size: 23px;
      display: flex;
      justify-content: space-between;

      .angle-down-icon {
        .fa-angle-down {
          width: 10px;
        }
      }
    }

    .current-username {
      font-size: 14px;
      color: #ab9ba9;
      display: flex;
      padding: 5px;
      align-items: center;

      .active-circle {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: #38978d;
      }

      .username {
        margin: 0 0 3px 5px;
      }
    }
  }

  .side-bar-channels {
    .channels-header {
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
      color: #bfb8be;
      user-select: none;
      cursor: pointer;

      .channels-header-content {
        width: 100%;

        &:hover {
          color: #f1f7f6;

          .search-channels-hover {
            visibility: visible;
            opacity: 1;
          }
        }

        .search-channels-hover {
          visibility: hidden;
          opacity: 0;
          transition: visibility 0s, opacity 0.2s linear;
          background-color: #2c2d30;
          color: white;
          position: absolute;
          top: 40px;
          padding: 10px;
          border-radius: 6px;

          .triangle-down {
            width: 10px;
            height: 10px;
            background-color: #2c2d30;
            position: absolute;
            border: 1px solid #2c2d30;
            left: 22px;
            transform: rotate(45deg);
          }
        }
      }

      .create-channel-button {
        &:hover {
          .create-channel-hover {
            visibility: visible;
            opacity: 1;
          }
        }

        .fa-plus-circle:hover {
          color: #f1f7f6;
        }

        .create-channel-hover {
          visibility: hidden;
          opacity: 0;
          transition: visibility 0s, opacity 0.2s linear;
          background-color: #2c2d30;
          color: white;
          position: absolute;
          padding: 10px;
          border-radius: 6px;
          top: 40px;
          left: 255px;
          z-index: 5;

          .triangle-down {
            width: 10px;
            height: 10px;
            background-color: #2c2d30;
            position: absolute;
            border: 1px solid #2c2d30;
            left: 56px;
            transform: rotate(45deg);
          }
        }
      }
    }

    .channel-list {
      color: #bfb8be;
      margin: 3px 0;

      .active-channel {
        background-color: #4c9589;
        color: #f1f7f6;

        &:hover {
          background-color: #4c9589;
        }
      }

      a {
        text-decoration: none;
        color: #bfb8be;
        display: flex;
        width: 100%;

        &:hover {
          color: #f1f7f6;
          background-color: #3e313c;
        }

        li {
          display: flex;
          align-items: center;
          padding: 0 20px;
          height: 26px;
          width: 100%;

          &:hover {
            color: #f1f7f6;

            a {
              color: #f1f7f6;
            }
          }

          div {
            opacity: 0.5;
            margin-right: 8px;
          }
        }
      }
    }
  }

  .side-bar-dms {
    margin-top: 25px;

    .dms-header {
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
      color: #bfb8be;
      user-select: none;
      cursor: pointer;

      .dms-header-content {
        width: 100%;

        &:hover {
          color: #f1f7f6;

          .search-dm-hover {
            visibility: visible;
            opacity: 1;
          }
        }

        .search-dm-hover {
          visibility: hidden;
          opacity: 0;
          transition: visibility 0s, opacity 0.2s linear;
          background-color: #2c2d30;
          color: white;
          position: absolute;
          padding: 10px;
          border-radius: 6px;
          top: 318px;
          z-index: 5;

          .triangle-down {
            width: 10px;
            height: 10px;
            background-color: #2c2d30;
            position: absolute;
            border: 1px solid #2c2d30;
            left: 22px;
            transform: rotate(45deg);
          }
        }
      }

      .create-dm-button {
        &:hover {
          .create-dm-hover {
            visibility: visible;
            opacity: 1;
          }
        }

        .create-dm-hover {
          visibility: hidden;
          opacity: 0;
          transition: visibility 0s, opacity 0.2s linear;
          background-color: #2c2d30;
          color: white;
          position: absolute;
          padding: 10px;
          border-radius: 6px;
          top: 318px;
          left: 235px;
          z-index: 5;

          .triangle-down {
            width: 10px;
            height: 10px;
            background-color: #2c2d30;
            position: absolute;
            border: 1px solid #2c2d30;
            transform: rotate(45deg);
            left: 76px;
          }
        }
      }

      .fa-plus-circle:hover {
        color: #f1f7f6;
      }
    }

    .dms-list {
      color: #bfb8be;
      margin: 3px 0;

      .active-channel {
        background-color: #4c9589;
        color: #f1f7f6;

        &:hover {
          background-color: #4c9589;
        }

        .dm-member-count {
          background-color: #ffffff9e;
          color: #4c9589;
          padding: 1px 2px;
          border-radius: 3px;
        }
      }

      a {
        text-decoration: none;
        color: #bfb8be;
        display: flex;
        width: 100%;

        &:hover {
          color: #f1f7f6;
          background-color: #3e313c;
        }

        li {
          display: flex;
          align-items: center;
          padding: 0 15px;
          height: 26px;
          width: 100%;

          &:hover {
            color: #f1f7f6;

            a {
              color: #f1f7f6;
            }
          }

          .dm-member-count {
            background-color: #ffffff9e;
            color: #4c394b;
            padding: 1px 2px;
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
              padding: 0 3px;
            }
          }

          .active-circle {
            margin-right: 8px;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: #38978d;
          }

          .hovered-active-circle {
            margin-right: 8px;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: white;
          }

          .dm-member-count {
            margin-right: 8px;
          }

          .recipients {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: calc(100% - 102px);
          }
        }
      }
    }
  }
}
