#channel-side-bar {
  height: 100%;
  min-width: 340px;
  width: 340px;
  background-color: #4d394b;

  .gobble-menu {
    background-color: white;
    position: absolute;
    top: 62px;
    left: 15px;
    width: 309px;
    min-width: 309px;
    height: 100px;
    z-index: 1;
  }

  .user-info-container {
    color: white;
    padding: 12px;
    user-select: none;
    margin-bottom: 11px;

    &:hover {
      cursor: pointer;
      background-color: #3e313c;
    }

    .channel-name {
      font-size: 23px;
      display: flex;
      justify-content: space-between;

      .angle-down-icon {
        .fa-angle-down {
          width: 10px;
        }
      }
    }

    .current-username {
      font-size: 14px;
      color: #ab9ba9;
      display: flex;
      padding: 5px;
      align-items: center;

      .active-circle {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: #38978d;
      }

      .username {
        margin: 0 0 3px 5px;
      }
    }
  }

  .side-bar-channels {
    .channels-header {
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
      color: #bfb8be;
      user-select: none;
      cursor: pointer;

      // &:hover {
      //   p {
      //     color: #f1f7f6;
      //   }
      // }

      .channels-header-content {
        width: 100%;

        &:hover {
          color: #f1f7f6;
        }
      }

      .fa-plus-circle:hover {
        color: #f1f7f6;
      }
    }

    .channel-list {
      color: #bfb8be;
      margin: 3px 0;

      .active-channel {
        background-color: #4c9589;
        color: #f1f7f6;

        &:hover {
          background-color: #4c9589;
        }
      }

      a {
        text-decoration: none;
        color: #bfb8be;
        display: flex;

        &:hover {
          color: #f1f7f6;
          background-color: #3E313C;
        }

        li {
          display: flex;
          align-items: center;
          padding: 0 20px;
          height: 26px;

          &:hover {
            color: #f1f7f6;

            a {
              color: #f1f7f6;
            }
          }

          div {
            opacity: 0.5;
            margin-right: 8px;
          }
        }
      }
    }
  }
}
